<menu active="home"></menu>

<div class="row marketing">
	

	<div class='row'>
		<form name="form1" method="post" enctype="multipart/form-data" action="api/media/upload">
			MP3 Upload
			<input type="file" name="media">
			<button type="submit" value="Send">Send</button>
		</form>
	</div>

	<div class="row">
		<h4>MP3s list</h4>
		<ul>
			<li ng-repeat="m in media">{{m.filename}} <button type="button" class="btn btn-success" ng-click="play(m.id)"><span class="glyphicon glyphicon-play"></span></li>
		</ul>
	</div>
</div>